@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>This website is a testing Ground for a messaging system developed by Bryan C Jones using <a href="http://signalr.net/">SignalR</a></p>
<p>You can register and log in. For testing purposes the email address does not have to be valid.</p>
<p>You can make a contact request by either Username or Email, then send a message to any subset of your contacts.</p>
