<div>
    <div class="row">
        @using (Html.BeginForm("HandleSearch", "Home"))
        {
        <div class="row">
            <label for="searchTextInput">Search</label>
        </div>
        <div class="row">
            <div class="col-xs-10">
                <input type="text" name="searchTextInput" class="form-control" id="searchTextInput" placeholder="Enter search term here."></div>
            <div class="col-xs-2">
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
            </div>
        </div>
        }
    </div>
</div>