<div class="page-header">
    <ul class="nav nav-pills">
        <li class="dropdown" onmouseover="">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Communicate with Nurses & Doctors</a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#Email">Email</a></li>
                <li><a href="#Phone">Phone</a></li>
            </ul>
        </li>
        <li><a href="#">Medicine</a></li>
        <li><a href="#">Discharge Information</a></li>
        <li><a href="#Rating">Hospital Rating</a></li>
        <li><a href="#">Pain Management</a></li>
    </ul>
</div>