<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <script src="js/search.js"></script>
</head>
<body>
    @RenderPage("templates/header.cshtml")
    <gcse:search></gcse:search>
    <gcse:searchresults></gcse:searchresults>
    <!-- scripts -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
</body>
</html>