/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*height:100%;*/
    /* Margin bottom by footer height */
    margin-bottom: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  color: salmon;
  background-color: #274964;
}

.footer > .container > span {
    margin-top: 5px;
    
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    float:right;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
